
<!-- ----- début fragmentMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="router2.php?action=ProjetAccueil">CALONNE GRANDRY</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Famille <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router2.php?action=familleReadAll">Liste des familles</a></li>
          <li><a href="router2.php?action=familleCreate">Ajout d'une famille</a></li>
          <li><a href="router2.php?action=familleReadName">Sélection d'une famille</a></li>
        </ul>
      </li>   
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Évènement <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router2.php?action=evenementReadSelected">Liste des évènements</a></li>
          <li><a href="router2.php?action=evenementCreate">Ajout d'un événement</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Lien <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router2.php?action=lienReadSelected">Liste des liens</a></li>
          <li><a href="router2.php?action=lienCreateParent">Ajout d'un lien parent</a></li>
          <li><a href="router2.php?action=lienCreateUnion">Ajout d'un lien union</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Individu <span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router2.php?action=individuReadSelected">Liste des invidius</a></li>
          <li><a href="router2.php?action=individuCreate">Ajout d'un individu</a></li>
          <li><a href="router2.php?action=individuSelect">Page d'un individu</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- ----- fin fragmentMenu -->

